html body {
	height : 100vh;
	width : 100vw;
	margin : 0px;
	padding : 0px;
	overflow : hidden;
	background:#111;
}

#background{
	width: 100%;
	height: 100%;
	/* background-color: #405CB1; */
	background-color: #262626;
}

#title, #sections, #device_adoption_con, #wifi_method, #wifi_method_con, #research_question, #analysis_con, #solutions, #conclusions{
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 60%;
	font-size: xx-large;
	font-family: Roboto;
	font-weight: 300;
	line-height:1.4;
	color: white;
	text-align: center;
	text-shadow: #000000 2px 2px 10px;
	max-width:1000px;
	max-height:650px;
	display:none;
}

.section {
	margin-top: 10px;
	padding: 10px;
	display:none;
}

#author {
	font-size: medium;
}

#logos {
	height: 30px;
	width: 160px;
	margin: 0px auto;
	margin-top: 30px;
	background-image: url(../images/logos.png);
	background-size: 160px;
	background-repeat: no-repeat;
}

.highcharts-credits {
	display: none;
}

#device_adoption {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 90%;
	height: 90%;
	max-width:1000px;
	max-height:650px;
	font-family: Roboto;
	font-weight: 300;
	display:none;
}

#source {
	font-size:x-small;
	font-weight:100;
	color:#FFFFFF99;
	text-align:right;
}

#device_adoption_con, #wifi_method_con {
	font-size: x-large;
	float: right;
	top: 20%;
	right: 10px;
	text-align: right;
	width: 90%;
	max-width: 1000px;
	max-height: 650px;
	display:none;
}

#wifi_method {
	height:75%;
}

#router, #mobile {
	transform: translate(0,-50%);
	top: 50%;
	position: relative;
	background-repeat: no-repeat;
}

#router {
	height: 90px;
	width: 125px;
	background-image: url(../images/router.png);
	background-size: 125px 125px;
	background-position-y: -20px;
	float: right;
	right: 10px;
}

#mobile {
	height: 100px;
	width: 100px;
	background-image: url(../images/mobile.png);
	background-size: 100px 100px;
	float: left;
	left: 10px;
}

#mobile_router_text {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    float: left;
    transform: translate(-50%,-50%);
    font-size: large;
	text-align: center;
	display:none;
	background-image: linear-gradient(to right, #ffffff00 50%, #ffffff22 50%);
	transition: background-position 0.3s linear, color 0.3s linear;
	background-size: 200% 100%;
	padding: 10px;
	white-space: pre-line;
	padding-left: 20px;
	padding-right: 20px;
}

#section, #section_svg{
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width:1000px;
	max-height:545px;
	min-height:545px;
	min-width:1000px;
	display:none;
}

#section {
	background-image: url(../images/section.png);
	background-size: 1000px;
}

#map_svg{
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display:none;
}

.subunit-boundary {
	fill: none;
	stroke: #999;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}

.subunit-label {
	fill: #999;
	fill-opacity: .8;
	font-size: 10px;
	font-weight: 300;
	text-anchor: middle;
}

.place-label {
	font-size:7px;
	font-weight:300px;
	fill: #999;
	opacity: 0.7;
	text-anchor:middle;
}

#map_stats{
	position: absolute;
	float: left;
	bottom: 50px;
	width : 100%;
	color: white;
	text-align: center;
	text-shadow: #000000 2px 2px 10px;
	font-family: Roboto;
	display:none;
}

#loc_sum {
	font-size: 45px;
	font-weight: 500;
	line-height:1.4;
}

#analysis_svg {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 90%;
	height: 90%;
	max-width:1200px;
	max-height:800px;
	font-family: Roboto;
	font-weight: 300;
	display:none;
}

#issue_chart, #solution_chart {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 90%;
	height: 90%;
	max-width:1000px;
	max-height:650px;
	font-family: Roboto;
	font-weight: 300;
	display:none;
}


#signal_strength {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width:1000px;
	max-height:545px;
	min-height:545px;
	min-width:1000px;
	display:none;
	background-image: url(../images/signal_strength.png);
	background-size: 1000px;
	opacity:0.75;
}

#solutions {
	line-height:2;
}


#signal_strength_con {
	font-size: x-large;
	width: 90%;
	max-width: 1000px;
	max-height: 650px;
	font-weight: 200;
	display:none;
	position: absolute;
	float: left;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Roboto;
	line-height:1.4;
	color: white;
	text-align: center;
	text-shadow: #000000 2px 2px 10px;
}


#sequence_numbers_top{
	position: absolute;
	float: left;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0%);
	max-width:650px;
	max-height:500px;
	min-height:500px;
	min-width:650px;
	display:none;
	background-image: url(../images/seq.png);
	background-size: 650px;
	opacity:0.75;
}

#sequence_numbers_bottom{
	position: absolute;
	float: left;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, 0%);
	max-width:800px;
	max-height:180px;
	min-height:180px;
	min-width:800px;
	display:none;
	background-image: url(../images/results.png);
	background-size: 820px;
	background-position: -5px -1px;
	opacity:0.75;
}


#ridge_plots {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width:900px;
	max-height:750px;
	min-height:750px;
	min-width:900px;
	display:none;
	background-size: 900px;
	background-image: url(../images/ridges.png);
}

#calendar {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width:1200px;
	max-height:700px;
	min-height:700px;
	min-width:1200px;
	display:none;
	background-size: 1200px;
	background-image: url(../images/calendar.png);
	filter: brightness(60%) contrast(250%);
}

